.App {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: black;
  padding: 10px;
}
/* body padrão */
body {
font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: black;
  padding: 10px;
}
/* body caso Dark Mode do useContext esteja ativado */
body.dark {
font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
  background-color: #333333;
  color: white;
  padding: 10px;
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Div do useLayoutEffect fechada */
  .expandable-div {
    overflow: hidden;
    max-height: 0;
    text-align: center;
  }
   /* Div do useLayoutEffect aberta */
  .expandable-div.open {
    max-height: 606px; /* Altura da div*/
    transition: max-height 2.3s ease-out;
    text-align: center;
  }
  