.header{
    color: black;
    background-color: #0e008a;
}

.App {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
    background-color: #ffffff;
    color: black;
  }
  
  /* Estilos para o tema escuro */
  .App.dark {
    background-color: #333333;
    color: #ffffff;
    
  }

  .botaoMemo{
    display: flex;
    align-items: center;
    
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* CSS para a animação de saída */
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  /* Animação de entrada */
  .fade-in-entering {
    animation: fadeIn 3s forwards;
  }
  
  /* Animação de saída */
  .fade-out-exiting {
    animation: fadeOut 3s forwards;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .expandable-div {
    overflow: hidden;
    max-height: 0;
    text-align: center;
  }
  
  .expandable-div.open {
    max-height: 606px; /* Altura da div*/
    transition: max-height 2.3s ease-out;
    text-align: center;
  }
  